*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* includes padding and border in width */
}

body{
    /* min-height: 100vh; gradient is 100% of the view height i.e. the screen */
    background: linear-gradient(#ff0000, #ff8e24);
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header .logo{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 2em; /*vw is responsive font*/
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 0px 0px 10px 10px;
}

header ul li a:hover, header ul li a.active{
    background: #fff;
    color: #000000;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 97vh;
}

section img{
    display: block;
    box-sizing: content-box;
    padding: 0px !important;
    height: auto;
    width: 100%;
    object-fit: cover;
}

section #text{
    top: 20vh;
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    position: absolute;
    color:rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 10;
}

#desertback{
    position: absolute;
    top: 50vh;
    left: 0;
    z-index: 8;
}

#birds{
    position: absolute;
    left: 30vw;
    width: 25vw !important;
    height: auto;
    z-index: 8;
}

#sun{
    position: absolute;
    top: 7vw;
    left: 74vw;
    width: 9.5vw !important;
    height: auto;
    z-index: 7;
    
}

#tree{
    position: absolute;
    top: 23vw;
    left: 47vw;
    width: 39vw !important;
    height: auto;
    z-index: 9;
}

#camels{
    position: absolute;
    top: 48vw;
    left: 7vw;
    width: 30vw !important;
    height: auto;
    z-index: 9;
}

#testing{ /*desert front and camel*/
    padding: 0px !important;
    top: 150vh;
    position: absolute;
    left: 0;
    z-index: 11;
}

#testing #camel-box{
    width: 100%;
    position: absolute;
    top: 18vh;
    left: 0;
    padding: 0 10vw;
    z-index: 12;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* align-items: center; */
}

#testing #camel-box i{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px #000000;
    color: #ffffff;
    text-shadow: 2px 2px #ff2f0c, 3px 3px #ff5f18, 4px 4px #ff8e24,0px 0px 15px #000000;
    width: 36vw;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#testing #camel-box #camel{
    width: 30vw !important;
    flex-shrink: 0;
    object-fit: contain;
}

#testing .box{
    width: 100%;
    z-index: 13;
    padding: 10vw 10vw;
    padding-top: 10vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-image: url("Assets/black-sand-isolated-white-background-grunge-texture_153912-14737.jpg");
    background-color: #fff;
}

#testing .box i{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px #000000;
    color: #ffffff;
    text-shadow: 2px 2px #ff2f0c, 3px 3px #ff5f18, 4px 4px #ff8e24,0px 0px 15px #000000;
    width: 36vw;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#testing .box #lizard{
    width: 40vw !important;
    flex-shrink: 0;
    object-fit: contain;
}